<!DOCTYPE html>  
<html>  
    <head>  
        <meta charset="UTF-8">
        <title>青橙 - 免费领用</title>  
        <link type="text/css" rel="stylesheet" href="/stylesheets/materialize.min.css" />
        <link type="text/css" rel="stylesheet" href="/stylesheets/main.min.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

    </head>  

    <body>

        <div id="frame-content">
<%  if(!order || order.state == "FAIL" || order.state == "CANCEL") { %>
            <% include page-fail %>
<%  } else if(order.state == "SUCCESS") { %>
            <% include page-success %>
<%  } else if(page == "LOADING") { %>
            <% include page-loading %>
<%  } else { %>
            <% include page-order %>
<%  } %>
        </div>

        <script type="text/javascript" src="javascripts/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="javascripts/materialize.min.js"></script>
        <script type="text/javascript" src="javascripts/order.min.js"></script>
    </body>  
</html>  