
<div class="home-top z-depth-1">
    <div class="home-top-left">
        <img src="images/logo.png" />
    </div>

    <div class="home-top-right">
    </div>
</div>

<div class="activity border">
    <div class="activity-left">
        <p class="wrap">初次使用，请先关注青橙</p>
        <h6 class="wrap">1. 长按右边二维码点击识别</h6>
        <h6 class="wrap">2. 关注青橙官方公众号</h6>
        <h6 class="wrap">3. 点击青橙发送的消息完成领取</h6>

    </div>
    <div class="activity-right">
        <img src=<%= qrcodeUrl %> />
    </div>
</div>
