
<div class="home-top z-depth-1">
    <div class="home-top-left">
        <img src="images/logo.png" />
    </div>

    <div class="home-top-right">
    </div>
</div>

<h2>领取失败！</h2>
<p class="black-text">请重新扫码尝试，
或联系管理人员进行帮助。</p>
<img class="z-depth-1" src="images/product-zhijin.jpg" />

