
<div class="home-top z-depth-1">
    <div class="home-top-left">
        <img src="images/logo.png" />
    </div>

    <div class="home-top-right">
    </div>
</div>


<h2>领取成功！</h2>
<p class="black-text">生活总有意想不到的需要<br>
一包纸帕巾，给你无声的安心</p>
<img class="z-depth-1" src="images/product-zhijin.jpg" />

        