
<div class="home-top z-depth-1">
    <div class="home-top-left">
        <img src="images/logo.png" />
    </div>

    <div class="home-top-right">
    </div>
</div>

<div class="order">
    <div class="order-row">
        <div class="row-left">
            <p>纸帕巾  ×1</p>
        </div>
        <div class="row-right">
            <p>￥<%= order.price / 100 %></p>
        </div>
    </div>

    <div class="order-row total">
        <div class="row-left">
        </div>
        <div class="row-right">
            <p>小计  ￥<%= order.price / 100 %></p>
        </div>
    </div>
    <div class="order-row">
        <div class="row-center">
            <button class="waves-effect waves-light btn orange darken-2 white-text" id="orderPay">支付领用</button>
        </div>
    </div>
</div>

<%  if(order.adInfo) { %>
<div class="activity border">
    <div class="activity-left">
        <h5 class="wrap"><span class="card-panel z-depth-0 pink lighten-2 white-text">免</span>限时任务，本单免费领用</h5>
        <h6 class="wrap">1. 长按右边二维码点击识别</h6>
        <h6 class="wrap">2. 关注推荐公众号即可领取</h6>

    </div>
    <div class="activity-right">
        <img src=<%= order.adInfo.qrcode_url %> />
    </div>
</div>
<%  } %>
